.main-container {
    min-height: calc(100vh - 2.5rem);
    position: relative;
}

hr.solid {
    border-top: 3px solid #feda09;
}

footer {
    width: 90%;
    position: relative;
    text-align: right;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    height: 2.5rem;
}

pre {
    white-space: pre-wrap;
    /* css-2.1, curent FF, Opera, Safari */
}

.combined-summary {
    color: #ff9900;
}

a:link {
    color: #0945c3;
}

a:visited {
    color: #019d71;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}