[flake8]
max-line-length = 127
ignore = E203, E266, E501, W503
exclude = .git, __pycache__, env, venv, .venv, site-packages
max-complexity = 10
select = E9,F63,F7,F82,F401
statistics = True
count = True
show-source = True