body {
    width: 50%;
    margin: 0 auto;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #feda09;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

td {
    color: #5e5e5e;
    padding: 5px 25px 5px 0;
}

footer {
    width: 70%;
    position: absolute;
    text-align: right;
    bottom: 0;
    font-family: 'Courier New', Courier, monospace;
    height: 2.5rem;
}