<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin-dev Archives</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>The bitcoin-dev Archives Summary</h1>
    <p>You can get <a href="https://lists.linuxfoundation.org/mailman/listinfo/bitcoin-dev">more information</a> about this list.</p>
    <table>
        <tr>
            <th>Archive</th>
            <th>View by:</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row.month }}:</td>
            <td>
                [<a href="{{ url_for('thread', year_month=row.month|replace(' ', '_')) }}">Thread</a>]
                [ <a href="#">Subject</a> ]
                [ <a href="#">Author</a> ]
                [ <a href="#">Date</a> ]
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>