<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>

<HEAD>
   <title>The bitcoin-dev Archives Summary</title>
   <META NAME="robots" CONTENT="noindex,follow">
   <META http-equiv="Content-Type" content="text/html; charset=us-ascii">
</HEAD>

<BODY BGCOLOR="#ffffff">
   <h1>The bitcoin-dev Archives Summary</h1>
   <p>
      You can get <a href="https://lists.linuxfoundation.org/mailman/listinfo/bitcoin-dev">more information about this
         list</a>.
   </p>

   <table border=3>
      <tr>
         <td>Archive</td>
         <td>View by:</td>
         <td>Downloadable version</td>
      </tr>

      {% for row in data %}
      <tr>
         <td>{{ row.month }}:</td>
         <td>
            <A href="{{url_for('thread', year_month=row.month|replace(' ', '_'))}}">[ Thread ]</a>
            <A href="{{url_for('subject', year_month=row.month|replace(' ', '_'))}}">[ Subject ]</a>
            <A href="{{url_for('author', year_month=row.month|replace(' ', '_'))}}">[ Author ]</a>
            <A href="{{url_for('date', year_month=row.month|replace(' ', '_'))}}">[ Date ]</a>
         </td>
         <td><A href="#">[ Gzip'd Text 31 KB ]</a></td>
      </tr>


      <tr>
         {% endfor %}
   </table>

</BODY>

</HTML>