<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>

<HEAD>
   <title>The bitcoin-dev/lightning-dev Archives Summary</title>
   <META NAME="robots" CONTENT="noindex,follow">
   <META http-equiv="Content-Type" content="text/html; charset=us-ascii">

   <link rel="stylesheet" href="../homepage_styles.css">
</HEAD>

<BODY BGCOLOR="#ffffff">
   <br><br>
   <h1>bitcoin-dev and lightning-dev Summaries</h1>
   <hr class="solid">
   <p>
      Summaries of posts and threads in the <a href="https://lists.linuxfoundation.org/mailman/listinfo/bitcoin-dev">bitcoin-dev</a> and <a href="https://lists.linuxfoundation.org/mailman/listinfo/lightning-dev">lightning-dev</a> mailing list
   </p>

   <table>
      <tr>
         <td></td>
         <td class="center-text">bitcoin-dev</td>
         <td class="center-text">lightning-dev</td>
      </tr>

      {% for row in data %}
         <tr>
            <td></td>
            {% if "bitcoin-dev" in row.dev_name %}
               <td class="center-text">
                  <A href="{{url_for('thread', dev_name=row.dev_name, year_month=row.month|replace(' ', '_'))}}">[ {{row.month}} ]</a>
               </td>
                <td class="center-text">
                  -
               </td>
            {% else %}
               <td class="center-text">
                  -
               </td>
                <td class="center-text">
                  <A href="{{url_for('thread', dev_name=row.dev_name, year_month=row.month|replace(' ', '_'))}}">[ {{row.month}} ]</a>
               </td>
            {% endif %}
         </tr>

         <tr>
     {% endfor %}
   </table>

   <footer>
      <span style="font-family: Arial, Helvetica, sans-serif;">&#10084;&#65039;</span> <a href="https://chaincode.com" target="_blank" rel="noreferrer" style="text-decoration: none; color: inherit;">Chaincode</a>
   </footer>

</BODY>

</HTML>