<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>

<HEAD>
   <title>The bitcoin-dev/lightning-dev Archives Summary</title>
   <META NAME="robots" CONTENT="noindex,follow">
   <META http-equiv="Content-Type" content="text/html; charset=us-ascii">

   <link rel="stylesheet" href="../homepage_styles.css">
</HEAD>

<BODY BGCOLOR="#ffffff">
   <br><br>
   <h1>bitcoin-dev and lightning-dev Summaries</h1>
   <hr class="solid">
   <p>
      Summaries of posts and threads in the <a href="https://lists.linuxfoundation.org/pipermail/bitcoin-dev">bitcoin-dev</a> and <a href="https://lists.linuxfoundation.org/pipermail/lightning-dev">lightning-dev</a> mailing lists
   </p>

   <table>
      <tr>
         <td></td>
         <td class="center-text">bitcoin-dev</td>
         <td class="center-text">lightning-dev</td>
      </tr>

      {% for row in data %}
      {% set bitcoin_dev_exists = data|selectattr("dev_name", "equalto", "bitcoin-dev")|selectattr("month", "equalto", row.month)|list %}
      {% set lightning_dev_exists = data|selectattr("dev_name", "equalto", "lightning-dev")|selectattr("month", "equalto", row.month)|list %}
      {% if loop.first or loop.previtem.month != row.month %}
         <tr>
            <td></td>
            {% if bitcoin_dev_exists|length > 0 %}
                <td class="center-text">
<!--                    <A href="{{url_for('thread', dev_name='bitcoin-dev', year_month=row.month|replace(' ', '_'))}}">[ {{row.month}} ]</a>-->
                    <A href="{{url_for('thread', dev_name='bitcoin-dev', year_month=row.month|replace(' ', '_'))}}">[ {{row.month.split()[0][:3] }} {{row.month.split()[1] }} ]</a>
                </td>
            {% else %}
                <td class="center-text">
                    -
                </td>
            {% endif %}
            {% if lightning_dev_exists|length > 0 %}
                <td class="center-text">
                    <A href="{{url_for('thread', dev_name='lightning-dev', year_month=row.month|replace(' ', '_'))}}">[ {{row.month.split()[0][:3] }} {{row.month.split()[1] }} ]</a>
<!--                    <A href="{{url_for('thread', dev_name='lightning-dev', year_month=row.month|replace(' ', '_'))}}">[ {{row.month}} ]</a>-->
                </td>
            {% else %}
                <td class="center-text">
                    -
                </td>
            {% endif %}
        </tr>
      {% endif %}
      {% endfor %}
   </table>

   <footer>
      <span style="font-family: Arial, Helvetica, sans-serif;">&#10084;&#65039;</span> <a href="https://chaincode.com" target="_blank" rel="noreferrer" style="text-decoration: none; color: inherit;">Chaincode</a>
   </footer>

</BODY>

</HTML>
