<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
  <head>
    <link rel="stylesheet" href="../../archive_styles.css">
    <!--     <title>The bitcoin-dev May 2023 Archive by thread</title>-->
    <!--     <META NAME="robots" CONTENT="noindex,follow">-->
    <!--     <META http-equiv="Content-Type" content="text/html; charset=us-ascii">-->
  </head>

<BODY BGCOLOR="#ffffff">
  {% set month, year = year_month.split('_') %}
  <a name="start"></A>
  <br>
  <h1>{{ month }} {{ year }} Summaries by {{type_by}}</h1>
  <hr class="solid">
  <br>

  <!-- <b>Sort Summaries by:</b>
      <a href="{{url_for('subject', dev_name=dev_name, year_month=year_month)}}">[ subject ]</a>
      <a href="{{url_for('author', dev_name=dev_name, year_month=year_month)}}">[ author ]</a>
      <a href="{{url_for('date', dev_name=dev_name, year_month=year_month)}}">[ date ]</a>
      <a href="{{url_for('thread', dev_name=dev_name, year_month=year_month)}}">[ thread ]</a>

  <br><br> -->
  {% if "bitcoin-dev" in dev_name %}
    <b>More info on the <a href="https://lists.linuxfoundation.org/mailman/listinfo/bitcoin-dev">bitcoin-dev</a> mailing list</b>
  {% else %}
    <b>More info on the <a href="https://lists.linuxfoundation.org/mailman/listinfo/lightning-dev">lightning-dev</a> mailing list</b>
  {% endif %}
  <p><b>Starting:</b> <i>{{ min_date.strftime('%a %b %d %H:%M:%S %Z %Y') }}</i><br>
    <b>Ending:</b> <i>{{ max_date.strftime('%a %b %d %H:%M:%S %Z %Y') }}</i><br>
    <b>Total Summaries:</b> {{ posts | length }}
  <p>


  <UL>
    {% for post in posts %}
      {% if "Combined" in post.title%}
        <LI><span class="combined-summary">[Combined Summary]</span><A HREF="{{ url_for('display_feed', dev_name=dev_name, year_month=year_month, filename=post.filename) }}">[{{ post.title.split(" - ")[1] }}]</A>
          <I>{{ post.author }}
          </I>
        </LI>
      {% else %}
        <LI><A HREF="{{ url_for('display_feed', dev_name=dev_name, year_month=year_month, filename=post.filename) }}">[{{ post.title }}]</A>
          <I>{{ post.author }}
          </I>
        </LI>
      {% endif %}
    {% endfor %}
  </UL>
  <p>
    <span class="end"><b>Last message date:</b></span>
<!--    <a name="end"><b>Last message date:</b></a>-->
    <i>{{ max_date.strftime('%a %b %d %H:%M:%S %Z %Y') }}</i><br>
  <p>
  <p>
    <hr>

    <footer>
      <span style="font-family: Arial, Helvetica, sans-serif;">&#10084;&#65039;</span> <a href="https://chaincode.com" target="_blank" rel="noreferrer" style="text-decoration: none; color: inherit;">Chaincode</a>
    </footer>

</BODY>

</HTML>