name: Weekly Python Newsletter Generation Script Execution

on:
  schedule:
    - cron: "0 0 * * 1" # every Monday at 00:00 UTC
  workflow_dispatch:
  repository_dispatch:

permissions:
  contents: write

jobs:
  execute_and_commit:
    runs-on: ubuntu-latest

    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      ES_CLOUD_ID: ${{ secrets.ES_CLOUD_ID }}
      ES_USERNAME: ${{ secrets.ES_USERNAME }}
      ES_PASSWORD: ${{ secrets.ES_PASSWORD }}
      ES_INDEX: ${{ secrets.ES_INDEX }}

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.10.x

    - name: Install dependencies
      run: |
         pip install --upgrade pip setuptools
         pip install -r requirements.txt

    - name: Execute Python script
      run: python generate_weekly_newsletter_json.py

    - name: Configure Git
      run: |
         git config user.email "${{ secrets.GIT_AUTHOR_EMAIL }}"
         git config user.name "${{ secrets.GIT_AUTHOR_NAME }}"

    - name: Add and commit changes
      run: |
        git add .
        if git diff --staged --quiet; then
          echo "No changes to commit"
        else
          git commit -m "Updated newsletter.json file"
          git push
        fi